# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd
*.log
*.pot
*.pyc

# Django specific
# db.sqlite3
# *.sqlite3
*.mo
*.log
.env
.env.*

# Static and media
# /staticfiles/
# /media/
# /media_volume/
# /static_volume/

# VSCode and PyCharm
.vscode/
.idea/
*.iml

# Virtualenv
venv/
ENV/
env/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# # Migrations (if you want to reset history regularly in dev)
# **/migrations/*.py
# !**/migrations/__init__.py
# **/migrations/*.pyc

# Coverage and test
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Docker
*.pid
*.swp
docker-compose.override.yml
docker-compose.prod.yml
Dockerfile
docker-compose.yml~

# Celery
celerybeat-schedule
celerybeat.pid

# Redis dump
dump.rdb

# Gunicorn
gunicorn.log
gunicorn.pid

# Logs
*.log
logs/
*.bak

#
